<div class="container mb-5">
  <div class="d-flex justify-content-between align-items-center mt-5 mb-4">
    <h2 class="text-secondary">My analyses</h2>
    <%= button_to "New analysis", new_analysis_path, class: 'btn btn-outline-info', method: 'get' %>
  </div>
  <ul class="list-group">
    <% @analyses.each do |analysis| %>
      <%= link_to analysis_path(analysis), class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
          Analysis #<%= analysis.id %>
          <div>
            <span class="font-italic">
              <%= time_ago_in_words(analysis.created_at) %> ago
            </span>
            <span class="badge badge-info badge-pill ml-2">
              <%= analysis.keywords.length %>
            </span>
          </div>
      <% end %>
    <% end %>
  </ul>
</div>
