<h1>Analysis#new</h1>

<%= form_for(@analysis) do |f| %>
  <%= f.text_area :raw_keywords %> <%# TODO: CSV upload %>
  <%= f.submit %>
<% end %>

<%= form_for @analysis, url: upload_analyses_path do |f| %>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>

<!-- TODO: simple_form_for -->
