<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <title>GoogleParser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'i18n' %>
		<%= javascript_include_tag 'translations/translations' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
